#app,page{
  background: #f8f8f8;
}
page
.van-field__control{
    font-size: $uni-font-size-base;
}
.block-button{
    margin: 16px;
    margin-top: 40px;
    text-align: center;
}
.flex{
  display: flex;
}
.mgr-sm{
  margin-right: $uni-spacing-row-sm;
}
.mgr-base{
  margin-right: $uni-spacing-row-base;
}
.mgb-lg{
  margin-bottom: $uni-spacing-col-lg;
}
.van-safe-area-bottom-mgb{
  margin-bottom: 60px;
}
.notice-item{
  position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: var(--van-cell-vertical-padding) var(--van-cell-horizontal-padding);
    overflow: hidden;
    color: var(--van-cell-text-color);
    font-size: var(--van-cell-font-size);
    line-height: var(--van-cell-line-height);
    background: var(--van-cell-background-color);
    .pgdn{
      color: $uni-text-color-grey;
    }
    .center{
      margin: $uni-spacing-col-sm 0;
    }
}
.main-box{
  margin: 16px;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  .main-box-title{
    justify-content: space-between;
    align-items: center;
   &> text{
      color: rgb(148, 191, 241);
      font-weight: 600;
      font-size: 16px;
    }
    .params{
      color: #999;
      font-size: 13px;
      >text{margin: 0 5px;}
      
    }
  }
  .main-box-cont{
    

    padding: 20px 10px 0;
  }
}